@charset "utf-8";

/* reset */
* {
  font-family: 'Jua', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
  scroll-behavior: smooth;
}
/* util */
.txt_hide {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}
.txt_skip {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}
.txt_skip:focus {
  position: absolute;
  display: block;
  top: 90px;
  left: 0;
  width: 100%;
  height: 40px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  background-color: gray;
  overflow: hidden;
  z-index: 10;
}

/* style */
#index_header {
  position: sticky;
  top: 0;
  z-index: 50;
}
.index_header.black {
  background-color: #1d1d1d;
}
.index_header {
  .list_nav.black {
    background-color: inherit;
  }
  .list_nav {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    font-size: 26px;
    background-color: rgba(240, 240, 240, 0.95);
    img {
      width: 150px;
    }
    .nav_hover.white {
      color: white;
    }
    .nav_hover{
      display: inline-block;
      width: 120px;
      line-height: 65px;
      text-align: center;
      transition: all .3s;
    }
    .nav_hover::after {
      content: '';
      display: block;
      position: relative;
      bottom: 0px;
      width: 0;
      height: 2px;
      background-color: #c01235;
      transition: all .3s;
    }
    .nav_hover:hover {
      color: #c01235;
    }
    .nav_hover:hover::after {
      width: 100%;
    }
  }
}

.index_main {
  background-color: whitesmoke;
}
.index_main.black {
  background-color: black;
}
.index_main {
  position: relative;
  .wrap_intro.black {
    background-color: #1d1d1d;
  }
  .wrap_intro {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
  }
  .btn_card {
    display: block;
    position: relative;
    border: 6px solid black;
    border-radius: 50px;
    width: 90%;
    height: 800px;
    margin: 40px auto;
    padding: 40px 30px;
    background-color: #dfdfdf;
    // background-color: dimgray;
    transition: all .5s;
    cursor: pointer;
    .img_card {
      display: block;
      border: 5px solid black;
      border-radius: 30px;
      width: 90%;
      height: 540px;
      margin: 0 auto;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .txt_card {
      display: block;
      border: 5px solid #c01235;
      border-radius: 20px;
      width: 100%;
      height: 150px;
      margin: 30px auto 0;
      padding: 10px 15px;
      background-color: rgb(197, 197, 197);
    }
    .txt_title {
      font-size: 24px;
      font-weight: normal;
    }
    .txt_feature {
      display: block;
      margin-top: 10px;
      font-size: 16px;
    }
  }
  .btn_card:hover {
    transform: translateY(-10px) scale(103%);
    box-shadow: 0 0 15px 1px #c01235;
  }
  .btn_card:focus {
    outline: 5px solid #c01235;
    outline-offset: 5px;
  }
  .btn_introduce {
    .img_card {
      background-image: url(../img/img_me.JPG);
    }
  }
  .btn_blog {
    .img_card {
      background-image: url(../img/img_blog.PNG);
    }
  }
  .artic_skills {
    overflow: hidden;
    .list_skills {
      width: 3100px;
      height: 500px;
      user-select: none; // 콘텐츠가 선택되지 않도록 하는 속성
      cursor: default;
      li {
        float: left;
        border-radius: 50px;
        width: 450px;
        height: 450px;
        margin: 30px;
        background-color: #dfdfdf;
        position: relative;
        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          box-shadow: 0 0 3px 1px darkgray;
          border-radius: 50px;
        }
      }
      .img_skills {
        display: block;
        width: 30%;
        margin: 100px auto 0;
      }
    }
  }
  .btn_10000hours {
    .img_card {
      background-image: url(../img/img_10000.PNG);
    }
  }
  .btn_mode {
    position: fixed;
    bottom: 30px;
    right: 30px;
    box-shadow: 0 0 3px 1px gray;
    border: none;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: #dfdfdf;
    transition: all .3s;
    cursor: pointer;
    img {
      width: 50%;
      padding-top: 5px;
    }
    &:hover {
      background-color: #c01235;
    }
  }
}
