@charset "utf-8";

/* reset */
* {
  font-family: 'Jua', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
  scroll-behavior: smooth;
}
/* util */
.txt_hide {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}
.txt_skip {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}
.txt_skip:focus {
  position: absolute;
  display: block;
  top: 90px;
  left: 0;
  width: 100%;
  height: 40px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  background-color: gray;
  overflow: hidden;
  z-index: 10;
}

/* style */
#intro_header {
  position: sticky;
  top: 0;
  z-index: 50;
}
.intro_header {
  nav {
    max-width: 700px;
    margin: 0 auto;
  }
  .list_nav {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    font-size: 20px;
    background-color: rgba(240, 240, 240, 0.95);
    img {
      width: 150px;
    }
    .nav_hover{
      display: inline-block;
      width: 120px;
      line-height: 65px;
      text-align: center;
      transition: all .3s;
    }
    .nav_hover::after {
      content: '';
      display: block;
      position: relative;
      bottom: 0px;
      width: 0;
      height: 2px;
      background-color: #c01235;
      transition: all .3s;
    }
    .nav_hover:hover {
      color: #c01235;
    }
    .nav_hover:hover::after {
      width: 100%;
    }
  }
}

#intro_main {
  background-color: white;
}
.intro_main {
  .wrap_intro {
    max-width: 700px;
    margin: 0 auto;
    padding: 30px;
    background-color: #f0f0f0;
  }
}
.artic_myself {
  padding: 0 20px 40px;
  .sec_profile {
    overflow: hidden;
    .img_profile {
      float: left;
      border-radius: 100%;
      width: 40px;
      margin-right: 10px;
    }
    .txt_profile {
      float: left;
      padding: 3px 0;
      strong {
        display: block;
        font-size: 18px;
      }
      small {
        color: gray;
      }
    }
  }
  .div_img {
    position: relative;
    overflow: hidden;
  }
  .list_img {
    // border: 1px solid crimson;
    // border-radius: 10px;
    width: 1200px;
    height: 500px;
    margin: 10px 0;
    transition: all .2s;
    overflow: hidden;
    li {
      float: left;
      width: 600px;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .img_me1 {
      // background-image: url(../img/img_me1.jpg);
    }
    .img_me2 {
      // background-image: url(../img/img_me2.jpg);
    }
  }
  .btn_lSlide,
  .btn_rSlide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    border-radius: 5px;
    width: 25px;
    height: 40px;
    background-color: #c012351c;
    cursor: pointer;
  }
  .btn_lSlide {
    left: 2%;
  }
  .btn_rSlide {
    right: 2%;
  }
  .btn_lSlide::before,
  .btn_rSlide::before {
    content: '';
    display: block;
    position: absolute;
    top: -230px;
    width: 100px;
    height: 500px;
    background-color: #c012350e;
    transition: all .3s;
    opacity: 0;
  }
  .btn_lSlide::before {
    left: -12px;
  }
  .btn_rSlide::before {
    right: -12px;
  }
  .btn_lSlide:hover::before,
  .btn_rSlide:hover::before {
    opacity: 1;
  }
  .sec_txt {
    position: relative;
    .list_btn {
      overflow: hidden;
      li {
        float: left;
      }
      li:last-child {
        float: right;
      }
      li:first-child {
        margin-right: 10px;
      }
      button {
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
      .btn_heart.on {
        background-color: crimson;
      }
      
    }
    .txt_like {
      margin: 10px 0;
    }
    .txt_title {
      max-width: 500px;
      font-size: 30px;
    }
    .txt_explain {
      max-width: 400px;
      margin: 10px 0;
    }
    .list_tag {
      overflow: hidden;
      li {
        float: left;
        margin-right: 10px;
      }
      .btn_tag {
        border: 1px solid #c01235;
        border-radius: 20px;
        height: 26px;
        padding: 0px 5px;
        line-height: 26px;
        color: #c01235;
        cursor: pointer;
      }
    }
    .inp_comment {
      border: none;
      border-radius: 10px;
      width: 100%;
      margin-top: 15px;
      padding: 10px 20px;
      font-size: 16px;
      background-color: #c0123510;
    }
    .btn_comment {
      position: absolute;
      right: 0;
      bottom: 0;
      border: none;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      width: 40px;
      height: 40px;
      background-color: #c0123505;
      transition: all .3s;
      cursor: pointer;
    }
    .btn_comment:hover {
      background-color: #c0123525;
    }
  }
  .sec_comment {
    border-radius: 10px;
    margin: 10px 0 20px;
    padding: 10px 20px;
    background-color: #c0123510;
    h4 {
      display: inline-block;
      font-size: 18px;
      font-weight: normal;
    }
    .btn_none {
      float: right;
      width: 30px;
      height: 25px;
      cursor: pointer;
    }
    .list_comment.on {
      display: block;
    }
    .list_comment {
      display: none;
      .txt_comment {
        margin: 20px 0;
      }
      p {
        margin-top: 5px;
        font-size: 14px;
        color: gray;
      }
    }
  }
}
.sec_modal {
  .wrap_form {
    // position: absolute;
    // left: 50%;
    // bottom: 50%;
    // transform: translate(-50%,-50%);
    width: 700px;
    margin: 0 auto;
    padding: 40px 50px;
    background-color: steelblue;
  }
  .img_upload {
    border: 2px solid black;
    width: 600px;
    height: 500px;
  }
  .wrap_txt_upload {
    margin-top: 10px;
    background-color: white;
    .txt_upload_title {
      border: none;
      width: 500px;
      margin: 10px 0;
      padding: 10px;
      font-size: 30px;
    }
    .txt_upload {
      border: none;
      width: 400px;
      height: 150px;
      padding: 10px;
      overflow: hidden;
    }
  }
}
